<div class="row">
  <div class="col-md-12 text-center">
    <h1>{{title}}</h1>
  </div>
</div>

<form #f="ngForm" (ngSubmit) = "addUser()">
  <div class="row text-center">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 center-block noFloat">
          <div class="row">
            <div class="col-md-6 center-block noFloat">
              <label for="username">Username</label>
              <input id="username" class="form-control" type="text" name="username" [(ngModel)]="user.username" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 center-block noFloat">
              <label for="email">Email</label>
              <input id="email" class="form-control" type="text" name="email" [(ngModel)]="user.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 center-block noFloat">
              <label for="password">Optional Password</label>
              <input id="password" class="form-control" type="text" name="password" [(ngModel)]="user.password">
            </div>
          </div>
          <div class="row topSpace">
            <div class="col-md-6 center-block noFloat">
              <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
